.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

#Builtapplicationfiles
*.apk
*.ap_

#FilesfortheDalvikVM
*.dex

#Javaclassfiles
*.class

#Generatedfiles
bin/
gen/

#Gradlefiles
.gradle/
build/
*.idea/
*.iml
.settings

#Localconfigurationfile(sdkpath,etc)
local.properties

#ProguardfoldergeneratedbyEclipse
proguard/

#developerspecificproject.propertyfiles
ActionBarSherlock/actionbarsherlock/project.properties
SlidingMenu-master/library/.classpath
SlidingMenu-master/library/project.properties
/project.properties
